body {
  font-family: "Roboto Condensed", sans-serif;
  margin: 4%;
  font-size: 20px;
  padding: 3%;
  background-color: #000000e5;
}
a{
  text-decoration: none;
}
.lettreMotivationbody {
  margin: 5%;
  color: white;
}
nav {
  display: flex;
}
.reponsive{
  visibility: hidden;
}
.photohr {
  display: flex;
  align-items: center;
}
.hr1 {
  margin: 0px 20px 25px 50px;
  height: 100%;
  color: #ffffff;
}
nav img {
  width: 150px;
  height: 200px;
  border-radius: 23% 77% 28% 72% / 77% 23% 77% 23%;
  border: solid 2px white;
}
.left,
.right {
  height: 20px;
  color: black;
  border-radius: 25px;
  border: solid white 1px;
  cursor: pointer;
}
#image2,
#image3 {
  display: none;
}
.adresse, .adresse a {
  color: #4682b4;
  font-size: larger;
  font-style: italic;
}
main div,
.sport,
.voyages {
  color: white;
  margin-left: 5em;
  font-size: larger;
}
 main div:hover{
  color : #4682b4;
  cursor: zoom-in;
}
/* source : https://codepen.io/ClaireLarsen/pen/XmVyVX  */
@import url(https://fonts.googleapis.com/css?family=Montserrat);
.container {
  display: flex;
  height: 100%;
  align-items: center;
}
svg {
position: absolute;
left: 30%;
top: 0%;
font: 4.5em "Montserrat";
height: 200px;
} 
.text-copy {
  fill: none;
  stroke: white;
  stroke-dasharray: 6% 29%;
  stroke-width: 5px;
  stroke-dashoffset: 0%;
  animation: stroke-offset 5.5s infinite linear;
}
.text-copy:nth-child(1) {
  stroke: #eed115;
  animation-delay: -1s;
}
.text-copy:nth-child(2) {
  stroke: #0291ef;
  animation-delay: -2s;
}

.text-copy:nth-child(3) {
  stroke: #eed115;
  animation-delay: -3s;
}
.text-copy:nth-child(4) {
  stroke: white;
  animation-delay: -4s;
}
.text-copy:nth-child(5) {
  stroke: #4682b4;
  animation-delay: -5s;
}
@keyframes stroke-offset {
  20% {
    stroke-dashoffset: -20%;
  }
}
#contactnav {
  position: relative;
  left: 160px;
  top: 35px;
}
h2 {
  color: #4682b4;
  font-size: 4em;
  text-align: center;
}
.audiobar {
  position: relative;
  left: 10%;
  top: 133px;
}
h3 {
  color: #eed115;
  font-size: xX-large;
}
.backmodal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.modal {
  background-color: white;
  top: 50%;
  left: 50%;
  width: 900px;
  height: auto;
  border: solid 5px #4682b4;
  padding: 0px 10px 10px 10px;
  transform: translate(-50%, -50%);
  z-index: 2;
  position: relative;
}
.loisirs {
  display: flex;
  justify-content: space-around;
}
footer {
  color: white;
  text-align: center;
}
.OuCharlie {
  color: rgba(255, 0, 0, 0.72);
}
.amotivation {
  color: #0291ef;
  font-size: x-large;
}
.btnCV, .btnCharlie {
border : solid black 5px;
border-radius: 25px;
background-color: white;
margin: 1%;
height: 35px;
align-items: center
}
/* responsive tablette puis phone*/
@media screen and (max-width: 992px){
main div{
  margin-left: 0%;
}
.adresse{
  text-align: center;
}
h2{
font-size: smaller;
text-align: end;
}
.g-ants{
  display: flex;
}
.modal{
  width: 80%;
  top:45%
}
.reponsive{
  visibility: inherit;
  color: #eed115;
  font-size:3em ;
}
h2{
  font-size: 3em;
}
.audiobar{
  visibility: hidden;
}
h1 svg {
  display: none;
}
.sport, .voyages{
  margin-left: 1em;
}
.adresse, .mail{
  font-size: large ;
}
.pcharlie{
  display: none;
}
}
@media screen and (max-width: 767px){
  .photohr, hr{
    display: none;
  }
  h1{
    font-size: xx-large;
    text-align: center;
  }
  h2{
font-size: 2em;
  }
  .modal{
    width: 80%;
    height: auto;
    top:50%;
    font-size:smaller;
  }
  .modal h3{
    font-size:medium ;
  }
  .loisirs {
    display: block;
  }
}