html {
  font-family: "Roboto Condensed", sans-serif;
  margin: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  color: #0291ef;
}
.photohr {
  display: flex;
  align-items: center;
}

.hr1 {
  margin: 0px 20px 25px 50px;
  height: 100%;
  color: #0291ef;
}

nav img {
  width: 150px;
  height: 200px;
  border-radius: 23% 77% 28% 72% / 77% 23% 77% 23%;
  border: solid 2px white;
}

.left,
.right {
  height: 20px;
  background-color: black;
  color: white;
  border-radius: 25px;
  border: solid white 1px;
}

#image2,
#image3 {
  display: none;
}

.adresse {
  color: #0291ef;
  font-size: larger;
  margin-top: -50px;
  margin-bottom: 10px;
  font-style: italic;
}


body {
  background: #323641;
}
main div, .sport, .voyages{
    color : white;
    margin-left: 5em;
    font-size: larger;
}

/* source : https://codepen.io/ClaireLarsen/pen/XmVyVX  */
@import url(https://fonts.googleapis.com/css?family=Montserrat);
.container {
  display: flex;
  height: 100%;
  align-items: center;
}

svg {
  margin-top: -110px;
  font: 4.5em "Montserrat";
  height: 200px;
}

.text-copy {
  fill: none;
  stroke: white;
  stroke-dasharray: 6% 29%;
  stroke-width: 5px;
  stroke-dashoffset: 0%;
  animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1) {
  stroke: #eed115;
  animation-delay: -1s;
}

.text-copy:nth-child(2) {
  stroke: #0291ef;
  animation-delay: -2s;
}

.text-copy:nth-child(3) {
  stroke: #eed115;
  animation-delay: -3s;
}

.text-copy:nth-child(4) {
  stroke: white;
  animation-delay: -4s;
}

.text-copy:nth-child(5) {
  stroke: #4682b4;
  animation-delay: -5s;
}

@keyframes stroke-offset {
  20% {
    stroke-dashoffset: -20%;
  }
}

#contactnav {
  position: relative;
  left: 160px;
  top: 35px;
}

.fa-regular.fa-envelope {
  font-size: xx-large;
}

h2 {
  color: #4682b4;
  font-size: 5em;
  text-align: center;
}

.audiobar {
  position: relative;
  left: 6px;
  top: 151px;
}

h3 {
  color: #eed115;
  font-size: x-large ;
}

.modal {
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 900px;
  height: 200px;
  border: solid 5px #4682b4;
  padding: 10px;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.modal img {
  margin-top: 2px;
  margin-left: 182px;
}

.loisirs{
  display: flex;
  justify-content: space-around ;
}
