/*source de l'image https://geek-collector.fr/divers/livre/ou-est-charlie-lintegrale-coffret-collector.html*/
body {
  margin: 3%;
  font-size: 20px;
  padding: 3%;
  background-color: #000000e5;
}

.lettreMotivationbody {
  margin: 5%;
  color: white;
}

html {
  font-family: "Roboto Condensed", sans-serif;
  height: auto;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  color: #000000;
}
.photohr {
  display: flex;
  align-items: center;
}

.hr1 {
  margin: 0px 20px 25px 50px;
  height: 100%;
  color: #ffffff;
}

.mail{
text-decoration: none;
}

nav img {
  width: 150px;
  height: 200px;
  border-radius: 23% 77% 28% 72% / 77% 23% 77% 23%;
  border: solid 2px white;
}

.left,
.right {
  height: 20px;
  background-color: black;
  color: white;
  border-radius: 25px;
  border: solid white 1px;
  cursor: pointer;
}

#image2,
#image3 {
  display: none;
}

.adresse, .mail {
  color: #4682b4;
  font-size: larger;
  margin-bottom: 10px;
  font-style: italic;
}

.adresse1 {
  margin-top: -50px;
}
main div,
.sport,
.voyages {
  color: white;
  margin-left: 5em;
  font-size: larger;
}
 main div:hover{
  color : #4682b4;
  cursor: zoom-in;
}
/* source : https://codepen.io/ClaireLarsen/pen/XmVyVX  */
@import url(https://fonts.googleapis.com/css?family=Montserrat);
.container {
  display: flex;
  height: 100%;
  align-items: center;
}
svg {
  margin-top: -110px;
  font: 4.5em "Montserrat";
  height: 200px;
}

.text-copy {
  fill: none;
  stroke: white;
  stroke-dasharray: 6% 29%;
  stroke-width: 5px;
  stroke-dashoffset: 0%;
  animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1) {
  stroke: #eed115;
  animation-delay: -1s;
}

.text-copy:nth-child(2) {
  stroke: #0291ef;
  animation-delay: -2s;
}

.text-copy:nth-child(3) {
  stroke: #eed115;
  animation-delay: -3s;
}

.text-copy:nth-child(4) {
  stroke: white;
  animation-delay: -4s;
}

.text-copy:nth-child(5) {
  stroke: #4682b4;
  animation-delay: -5s;
}

@keyframes stroke-offset {
  20% {
    stroke-dashoffset: -20%;
  }
}

#contactnav {
  position: relative;
  left: 160px;
  top: 35px;
}

.fa-regular.fa-envelope {

  font-size: xx-large;
  color : #4682b4;
}

h2 {
  color: #4682b4;
  font-size: 4em;
  text-align: center;
}

.audiobar {
  position: relative;
  left: 6px;
  top: 151px;
}

h3 {
  color: #eed115;
  font-size: xX-large;
}

.modal {
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 900px;
  height: auto;
  border: solid 5px #4682b4;
  padding: 0px 10px 10px 10px;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.modal img {
  margin-top: 2px;
  margin-left: 182px;
}

.loisirs {
  display: flex;
  justify-content: space-around;
}

footer {
  height: 90px;
  width: 100%;
  color: white;
  margin-top: 3%;
  text-align: center;
}

.OuCharlie {
  color: rgba(255, 0, 0, 0.72);
}

.amotivation {
  text-decoration: none;
  color: #0291ef;
  font-size: x-large;
}

.btnCV, .btnCharlie {
border : solid black 5px;
border-radius: 25px;
background-color: white;
margin: 1%;
height: 35px;
align-items: center
}

article {
  text-align: justify;
  margin: 15px 10%;
}
.signature{
  display: flex;
  flex-direction: row-reverse
}

h4 {
  font-size: x-large;
  margin-left: 20px;
}

.lienpageune{
  text-decoration: none;
  color :#0291ef;
}